:root{
    --primary-color: #8b4513;
    --brackgroung-color: #fffaf5;
    --light-color: #f9e8d6;
    --text-dark: #222;
    --text-muted: #555;
    --font-body: 'Poppins', sans-serif;
    --font-logo: 'Pacifico', cursive;
}
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    
@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('truetype');
    }
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    }

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}
body {
    font-family: var(--font-body);
    background-color: var(--brackgroung-color);
    color: var(--text-dark);
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

.header{
    background-color: var(--brackgroung-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: var(--font-logo);
    font-size: 2rem;
    color: var(--primary-color);
}

.menu-desktop{
    display: none;
}
#menu-toggle {   
    font-weight: 900;
    font-size: 1.5rem;
    border: 0;
    background-color: var(--brackgroung-color);
}

.hero-overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/aurora-capa.jpg') no-repeat center center/cover;
    padding: 8rem 0;
}

.hero-content{
    text-align: center;
    color: var(--brackgroung-color);
    z-index: 2;
    padding: 2rem;
}

.hero-content h2{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn{
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 1.8rem;
    border-radius: 8px;
    font-weight: 600;    
}

.btn:hover{
    background: #5c2e0f;
    transition: 0.5s;
}

.cardapio{
    background-color: #fff;
    padding: 5rem 0;
}

.cardapio h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.descricao{
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3rem;
    color: var(--text-muted);
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card{
    background: var(--light-color);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.card-body{
    padding: 1.5rem;
}

.card-body h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-body p{
    color: var(--text-muted);
    margin-bottom: 1rem;
}

.card-body .price {
    font-weight: 700;
    color: var(--primary-color);
}

.contact{
    background-color: var(--light-color);
    padding: 4rem 0;
}

.contact-box{
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.contact-text{
    padding: 1rem;
    margin-bottom: 2rem;
}
.contact-text h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.hours p{
    display: flex;
    justify-content: space-between;
}

.address{
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.contact-image{
    max-height: 300px;
    display: flex;
}

.contact-image img{
    object-fit: cover;
    overflow: hidden;
}